<h1>Paper, scissors, rock is simple to play, just follow the instructions below:</h1>

<ol>
  <li>The game is for two players - each of you needs to chooose either scissors, paper and rock</li>
  <li>Type player 1's choice into the browser followed by a /</li>
  <li>Then type in player's 2 choice, and hit return to see who won!</li>
  <li>Hint: make sure you spell the word correctly or your game will be invalid</li>
  <li>Are your ready to play? Click on 'let's play the game to begin!'</li>
<ol>