<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <title>Sci-Pap-Roc</title>
</head>
<body>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about_us">About us</a></li>
    <li><a href="/play">Let's play the game</a>
  </ul>

  <%= yield %>
</body>
</html>